{%load static%}
<html>
<head>
	<title> GOOGLE REWARDS</title>
	<link rel="icon" href="{%static 'google1.jpg '%}">
	<link rel="stylesheet" href="{%static 'style.css'%}">
</head>
<body>
<nav>
	<div class="logo">
	<h1><b>GOOGLE REWARDS</h1>	
	<img src="{%static 'google.jpg'%}" width=150 height=150>
	</div>

	<div class="links">
	<a href="index">Home </a>
	<a href="">Rewards</a>
	<a href=""></a>
	<a href="">About</a>
	</div>
</nav>
<section class="content">
<h3> About Google rewards</h3>
<p>With Google Opinion Rewards, you'll take surveys that are run by market researchers. Survey frequency may vary, and you don't have to answer every survey you receive. In exchange, we'll provide Google Play credits.Google Pay rewards, found under "Promotions" then "Rewards," offer cashback or other benefits for completing qualifying payments or actions, such as sending money or using the app to make purchases. 
</p>
</section>


</body>
</html>